doctype html
html(lang='zh')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - 候飞

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none 候飞
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='profile')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') 关于我
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') 职业技能
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') 工作经历
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#project') 项目经验
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#advantage') 自我评价

        // Page Content
        .container-fluid.p-0

            // 关于我
            section#about.resume-section
                .resume-section-content
                    h1.mb-3
                        | 候飞
                        span.text-primary web 前端工程师
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1.mb-3
                            .subheading 电话： 
                                a(href='tel:13261351763').text-primary 13261351763（同微信）
                        .flex-grow-1.mb-3
                            .subheading.text-lowercase 邮箱： 
                                a(href='mailto:allen1710@163.com').text-primary allen1710@163.com
                        .flex-grow-1.mb-3
                            .subheading 现居地： 
                                span.text-primary 北京
                      
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1.mb-3
                            .subheading 年龄： 
                                span.text-primary 29
                        .flex-grow-1.mb-3
                            .subheading 籍贯： 
                                span.text-primary 河北
                        .flex-grow-1.mb-3
                            .subheading 工作年限： 
                                span.text-primary 5年

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1.mb-3
                            .subheading 毕业院校： 
                                span.text-primary 唐山学院
                        .flex-grow-1.mb-3
                            .subheading 学历： 
                                span.text-primary 本科
                        .flex-grow-1.mb-3
                            .subheading 就读时间： 
                                span.text-primary 2013.9-2017.6
                    .social-icons.pt-3
                        a.social-icon(href='https://heinfy.top/')(title='https://heinfy.top/')(target="stumbleupon")
                            i.fab.fa-internet-explorer
                        a.social-icon(href='https://blog.heinfy.top/')(title='https://blog.heinfy.top/')(target="microblog")
                            i.fab.fa-microblog
                        a.social-icon(href='https://github.com/heinfy')(title='https://github.com/heinfy')(target="github")
                            i.fab.fa-github
                        a.social-icon(href='https://www.qmjianli.com/cvs/22384M52GIF5P56')(title='我的简历')(target="download")
                            i.fab.fa-markdown
                            //- i.fab.fa-octopus-deploy
                            //- i.fab.fa-snapchat
                            //- i.fab.fa-connectdevelop
                            //- i.fab.fa-pinterest
                            //- i.fab.fa-face-smile-beam
                    p.lead.pt-5
                        | 老骥伏枥，志在千里；烈士暮年，壮心不已。—— 曹操《龟虽寿》
            hr.m-0


            // 职业技能
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 职业技能
                    .subheading.mb-3 编程语言 & 工具
                    ul.list-inline.dev-icons
                        li.list-inline-item(title="html5")
                            i.fab.fa-html5
                        li.list-inline-item(title="css3")
                            i.fab.fa-css3-alt
                        li.list-inline-item(title="js")
                            i.fab.fa-js-square
                        li.list-inline-item(title="react")
                            i.fab.fa-react
                        li.list-inline-item(title="vuejs")
                            i.fab.fa-vuejs
                        li.list-inline-item(title="node-js")
                            i.fab.fa-node-js
                        li.list-inline-item(title="sass")
                            i.fab.fa-sass
                        li.list-inline-item(title="less")
                            i.fab.fa-less
                        li.list-inline-item(title="npm")
                            i.fab.fa-npm
                        li.list-inline-item(title="liunx")
                            i.fab.fa-centos
                    .subheading.mb-3 工作能力
                    ul.fa-ul.mb-0
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 有扎实的前端技术基础，包括HTML(5)/CSS(3)/Javascript/Typescript等；
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 熟练使用 React、Vue，理解 MVVM，有大型单页 Web 应用和移动端开发经验；
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 熟悉前端工程化，了解前端模块化开发；
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 熟悉浏览器原理及 W3C 规范，对前端性能、可访问性、可维护性等知识有相关实践经验；
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 熟练使用 Git 等工具，具备良好的编码风格和习惯；
                        li.mb-1
                            span.fa-li
                                i.fas.fa-check
                            | 熟悉 NodeJS 生态，熟悉 Express\Koa 开发部署。
            hr.m-0


            // 工作经历
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 工作经历

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 web 前端工程师
                            .subheading.mb-3 完美世界
                            p
                                | 负责 CRM 招生系统以及教务系统开发工作；以及 ToB、ToC 在线学习平台（Nuxt.js）开发，包括 PC、H5、小程序端。
                        .flex-shrink-0
                            span.text-primary 2021.02 - 2023.12

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 web 前端工程师
                            .subheading.mb-3 学霸君
                            p
                                | 负责优学课堂 h5 以及活动页、广告加盟以及运营平台的开发工作；负责资料分享小程序和公众号开发。
                        .flex-shrink-0
                            span.text-primary 2020.05 - 2021.01

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 前端开发
                            .subheading.mb-3 中科软科技有限公司
                            p
                                | 负责 App 小应用、H5页面以及后台系统的开发工作。
                        .flex-shrink-0
                            span.text-primary 2018.09 - 2020.05
            hr.m-0

            // 项目经验
            section#project.resume-section
                .resume-section-content
                    h2.mb-5 项目经验

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0  CRM 招生系统
                            .subheading.text-lowercase.mb-2 技术栈：react hooks、ts、antd
                            div.mb-2 项目描述：完美世界职业教育招生系统，业务内容包括线索客户、合同报名、财务审核、绩效管理、信息平台、BI统计等。
                            div.mb-1 我的工作：
                            p.mb-1.px-3 1、实现基于 RBAC 权限控制；
                            p.mb-1.px-3 2、将上传的资源迁移的对象存储，添加鉴权访问资源；
                            p.mb-1.px-3 3、开发完成招生、报名、绩效、BI统计等功能，并对业务组件、工具类进行优化封装；
                            p.mb-1.px-3 4、完成系统的构建优化，将静态资源上传到百度云 BOS。
                        .flex-shrink-0
                            span.text-primary 2021.02 - 2023.12
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 像素种子慕课网
                            .subheading.text-lowercase.mb-2 技术栈：vuejs、nuxtjs、小程序、view design
                            div.mb-2 像素种子慕课网
                                a.text-primary(href="https://www.pixseed.com/")(target="view_window") 像素种子慕课网
                                span 是完美世界教育 ToC 线上课平台，涵盖影视、游戏行业等课程。具体业务包括信息采集、在线学习、个人中心、课程问答、订单支付等功能。像素种子是完美世界控股集团业务板块之一，
                            div.mb-1 我的工作：
                            p.mb-1.px-3 1、基于 form making 二次开发，完成公司内部的表单配置；
                            p.mb-1.px-3 2、基于 cyberplayer 完成在线播放页，包含课程学习、章节联连播，资料下载等功能；
                            p.mb-1.px-3 3、完成个人中心多个模块，包括课程、订单、优惠券、反馈、资料编辑等；
                            p.mb-1.px-3 4、完成课程问答模块，包括在播放器页和课程详情页添加问答 Tab 模块；
                            p.mb-1.px-3 5、完成购买课程订单支付页面。
                        .flex-shrink-0
                            span.text-primary 2021.09 - 2023.12
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 教务系统
                            .subheading.text-lowercase.mb-2 技术栈：vuejs, iview
                            div.mb-2 项目描述：：该系统为完美世界教育下的教务教学管理系统，涵盖了课程管理、班级管理、座位表、讲师排期表，设备管理等功能。
                            div.mb-1 我的工作：
                            p.mb-1.px-3 1、完成课程、班级等模块的开发工作，以及后续的功能迭代；
                            p.mb-1.px-3 2、完成座位表开发，包括坐位方向调整，位置拖拽交换，座位表打印PDF等功能；
                            p.mb-1.px-3 3、完成讲师排期表、设备管理模块开发，包括自定义单元格等功能。
                        .flex-shrink-0
                            span.text-primary 2021.05.10 - 2023.12
                          
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 优学课堂公众号
                            .subheading.text-lowercase.mb-2 技术栈：vuejs
                            div.mb-2 项目描述：优学课堂是一个在线学习和教学管理的系统，老师、学生以及家长可以在线沟通学习进度和学习情况。
                            div.mb-1 我的工作：
                            p.mb-1.px-3 1、负责公众号 h5 端优惠券页面的开发工作；
                            p.mb-1.px-3 2、负责调取微信\支付宝支付 api，完成购买优惠券的支付模块；
                            p.mb-1.px-3 3、负责券列表的开发工作以及销券时优惠券的互斥逻辑判断；
                            p.mb-1.px-3 4、复用并优化了通用组件、新增 pdf 在线预览模块。
                        .flex-shrink-0
                            span.text-primary 2020.05 - 2021.01
                          
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 富通保险App
                            .subheading.text-lowercase.mb-2 技术栈：vue、hybrid app、jquery
                            div.mb-2 项目描述：该系统为面向 ToB 业务，为保险业务员开发的 App，包括预约、详情、评价、内容介绍等功能。
                            div.mb-1 我的工作：
                            p.mb-1.px-3 1、 使用 postcss 相关插件完成移动端的适配；
                            p.mb-1.px-3 2、根据业务需求完成公共组件，包括日历组件、证件上传组件等；
                            p.mb-1.px-3 3、通过 vue-router 的钩子判断页面返回以及跳转，并且在该页面销毁时将数据保存在 vuex 中；
                            p.mb-1.px-3 4、完成 js 和原生交互，实现原生数据获取，以及调取原生的相机、地图、电话等组件；
                            p.mb-1.px-3 5、添加页面埋点，统计访问数据；
                            p.mb-1.px-3 6、配合产品完成页面功能改进，提升用户体检。
                        .flex-shrink-0
                            span.text-primary 2018.09 - 2021.05

            hr.m-0

            // 自我评价
            section#advantage.resume-section
                .resume-section-content
                    h2.mb-5 自我评价
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-splotch.text-warning
                            | 学习能力强，对前端技术有浓厚兴趣，对新事物保有好奇心，并能快速适应新环境；
                        li
                            span.fa-li
                                i.fas.fa-splotch.text-warning
                            | 良好的沟通能力和团队协同能力，能与他人合作，共同完成目标；
                        li
                            span.fa-li
                                i.fas.fa-splotch.text-warning
                            | 具有良好的沟通能力、思维逻辑清晰。
                        li
                            span.fa-li
                                i.fas.fa-splotch.text-warning
                            | 具备阅读英文文档的能力。

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
